#prompt {
	position: fixed;
	width: 50%;
	height: 25%;
	left: 25%;
	box-shadow: 0 2px 5px #888;
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	p{
		font-size: 50px;
	}
}